img {
    width: 300px;
    height: 300px;
}

.alert {
    position:fixed; 
    top: 10%; 
    left: 0%;

    border-radius:0px;
    text-align: center;
    font-size: 24px;
}

body {
    background-image: url('https://lh3.googleusercontent.com/ty1xlqzCZScdXiIcbNBJWjAM4mgvCFAGp6u-80xRpiWU6EPhgf5Gbn8y-YND8I7dB9HKoOE1rcM8mrqYDslZFluSWpnoXSY7ZrQSxYF0hqyzBLUK0hxtP1qyfr8Ib7Mo6AY03uvAcJpIK8ofuJaGyhUmoEnSgS5OIDaFs45EneF1i7-E7VIoUsMc4Vy58IZO7dHfkJ0A0dkY4D4aN_UJq03rYHmc4ree9D-RyBA13DZe6B7lYOdzmzBuk32DV8sWLb91kuN5ksr-OzRthlEpa_AiunC_vRiGoFeRiXRHDnub2CfU5Zc-yGcE-n8xasDGb9x3ZZ-uo878JcIzr8K5bWpJ7pCJnW68eYvFeAitHKQP91aMrxf6p-MqjiN8kE8KZedzJMyXJgaNNF9u_AuJVh_Mkhs9RF8wP-R-DmhIEfaF97FbxL4QKjTygTqKR8Hyc8WN1zueGHYhkV47doGSRiA6KmTwcb8nTV9NrTfySywxLd2gyOZJrovqvETxEoTAajHTqSJka8jlsdjI-kKXMmjfM59Z7uOA3MS7YJUjzOphiun4Fa_rFhTCd0L_JUoaIFqbCfPM8TEls3jRANDQZJBBwdo4MCJqLHOaKf0PSLOobglkxsFyvPilkkxtv0UvfJIEV6dylkk-SHkPSCBquN3VoOXQm1HZTv1Ku2APSTh2u1U06hJqxj-UgYMf_xxCqrSbYIjNZlE1J9pzd6sO5Co6whpbmpnZQOAhB22FduFWApXsJJBqiZMuQctdMopGRPCXE9vYxrKt4-zmy7ohV8HzAHkjkBn12_Dv6Y6cXAC9cFbmNoAe1uVjAGfI5ept2U-sN8q0ThvEcTapDM0dEJ-69C3CAWYQ1MPqgn9HC9xwgY24buI_Lqiknk-0vUjs9Fz5ozxOC-lGvwKvFSfk6ur9PQPjVf5yc8Ri=w2250-h1500-s-no?authuser=0');
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: hotpink;
    text-shadow: 2px 0px 2px;
}

h2 {
    color: hotpink;
}

h1 {
    color: hotpink
}

a {
    color: hotpink;
}

a:hover {
    color: rgb(105, 198, 255);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    color: hotpink;
}

#movie-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#movie-div {

    border: 2px;
    border-color: black;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    color: hotpink;
}

li {
    display: flex;
    flex-wrap: wrap;
}

.user-div {
    top: 30%;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    
}

#form-container {
    top: 30%;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
}

.user-img {
    height: 100px;
    width: 100px;
}