img {
    width: 300px;
    height: 300px;
}

.alert {
    position:fixed; 
    top: 10%; 
    left: 0%;

    border-radius:0px;
    text-align: center;
    font-size: 24px;
}

body {
    background-image: url('https://lh3.googleusercontent.com/o43ZSvy5Fizs4IQQKN8_E9VRFaZeDr2f2hmabiFI3VqvDfLBY0_v1AhUY9YMZEqwonla2YBmeUy4z_YOs3aWlnaW70dG3fpa0zC2i7V9E_NDbaVo5HH2w9k0nyiho4fpO9Dm3js52b1c8TLkY2OAmgBlaEMe5-Xd6dBWUrUfAh51gag007U2Ztce8rJ-Ss8gVtebpnYCwPixcRVlGV76Wbgs7FwRq16LvUQGPunpuJJElMlR_-l5nrvsCBAYoKCwZPl9i5_iLUBChqzm1bErY-J30R5cTxygsLrr3wZ6CEl0dTBSQSjOOtanqCsQ_sAU4sIzQTkvyhtGVOniRDpTVjjZ1kERMr5PTibzV7bX1uTDDUGkjEQboqWDJ7v91zNSdIfgxhVX5SzgzyaeDrtRdEh3t4l6MsYUyuCG_pM84VbE0b40J3eTc__SW36rvdnF-1K9bxmkdYzXEyHdsgSSeWpmJlCC7XRPqpbMttoLAucg3m4hhy9efQhDMcEmfIKezzQ-0717z1Yb-VAoll9kht7iFiVM25-X1cE3VIJP6h3ZojmswuHwVkdXfRE9HBpp8cIdDMucqeSGsw7sS9-wbJZDWyKDcj2SdjZd-Lxsbky2B_QFLfUNduGme3vadguDvdDFT5Abc_SEWR8_8JehKBff6j4ICWvyJDU5KH3f1Ekm5Uu98eVpxVw12A0gSGTgYGk8J2qODrpNRHgNfVeM_ZJjKT9d1zQ0Lquh58wBWpNaNRtwiO_kfK8x66fvvlGGh9rN1HEFMdJBsMtzsRsqCXPPkrWsnUTsflUZyH9OyUOnthV5mGxfK5CaGUzVUt25b5jPf9-T0sJ9i_L42hIHATsQyI5O_rFlefMNZz7_8iB-eyCV81iMvMI_o85Dt5OzoAZ1N-XG8ulRz-HuOMyO8XgVuK5aXzjrh-c5=w2128-h1418-s-no?authuser=0');
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: hotpink;
    text-shadow: 2px 0px 2px;
}

h2 {
    color: hotpink;
}

h1 {
    color: hotpink
}

a {
    color: hotpink;
}

a:hover {
    color: rgb(105, 198, 255);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    color: hotpink;
}

#movie-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#movie-div {

    border: 2px;
    border-color: black;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    color: hotpink;
}

li {
    display: flex;
    flex-wrap: wrap;
}

.user-div {
    top: 30%;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
}

#form-container {
    top: 30%;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
}